/**
 * style.scss
 *
 *
 * @author Mihnea Belcin
 */
/*------------------------------------*\
    $TABLE OF CONTENTS
\*------------------------------------*/
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 
    Apply a natural box layout model to all elements, but allowing components to change.
    More on http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ 
*/
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/**
 * variables.scss
 *
 *
 * @author Mihnea Belcin
 */
/*------------------------------------*\
    BREAKPOINTS VARIABLES
\*------------------------------------*/
/**
 * mixins.scss
 *
 *
 * @author Mihnea Belcin
 */
/*------------------------------------*\
    RESPONSIVE MIXINS
\*------------------------------------*/
/**
 * grid.scss
 *
 *
 * @author Mihnea Belcin
 */
/*------------------------------------*\
    GRID SYSTEM
\*------------------------------------*/
.wrapper {
  width: 100%;
  overflow: hidden;
}

.grid {
  background: #cecece;
  clear: both;
  overflow: hidden;
  background: pink;
}
.grid div {
  padding-top: 250px;
  margin-bottom: 10px;
}

.grid div:nth-child(1) {
  background: rgba(47, 39, 152, 0.95);
}

.grid div:nth-child(2) {
  background: rgba(47, 39, 152, 0.9);
}

.grid div:nth-child(3) {
  background: rgba(47, 39, 152, 0.85);
}

.grid div:nth-child(4) {
  background: rgba(47, 39, 152, 0.8);
}

.grid div:nth-child(5) {
  background: rgba(47, 39, 152, 0.75);
}

.grid div:nth-child(6) {
  background: rgba(47, 39, 152, 0.7);
}

.grid div:nth-child(7) {
  background: rgba(47, 39, 152, 0.65);
}

.grid div:nth-child(8) {
  background: rgba(47, 39, 152, 0.6);
}

.grid div:nth-child(9) {
  background: rgba(47, 39, 152, 0.55);
}

.grid div:nth-child(10) {
  background: rgba(47, 39, 152, 0.5);
}

.grid div:nth-child(11) {
  background: rgba(47, 39, 152, 0.45);
}

.grid div:nth-child(12) {
  background: rgba(47, 39, 152, 0.4);
}

.grid div:nth-child(13) {
  background: rgba(47, 39, 152, 0.35);
}

.grid div:nth-child(14) {
  background: rgba(47, 39, 152, 0.3);
}

.grid div:nth-child(15) {
  background: rgba(47, 39, 152, 0.25);
}

.grid {
  width: inherit;
  padding-left: 5px;
  padding-right: 5px;
}

.grid [class*='col-'] {
  float: left;
  margin-left: 5px;
  margin-right: 5px;
}

.grid .col-1 {
  width: calc(100%  - 10px);
}
.grid .col-2 {
  width: calc(50%  - 10px);
}
.grid .col-4 {
  width: calc(25%  - 10px);
}
.grid .col-7 {
  width: calc(14.28571%  - 10px);
}
.grid .col-9 {
  width: calc(11.11111%  - 10px);
}
.grid .col-10 {
  width: calc(10%  - 10px);
}
.grid .col-11 {
  width: calc(9.09091%  - 10px);
}

.grid .col-2o7 {
  width: calc(28.57143%  - 10px);
}
.grid .col-5o7 {
  width: calc(71.42857%  - 10px);
}
.grid .col-3o4 {
  width: calc(75%  - 10px);
}
.grid .col-1o4 {
  width: calc(25%  - 10px);
}
.grid .col-5o11 {
  width: calc(45.45455%  - 10px);
}
.grid .col-6o11 {
  width: calc(54.54545%  - 10px);
}
.grid .col-7o11 {
  width: calc(63.63636%  - 10px);
}
.grid .col-8o11 {
  width: calc(72.72727%  - 10px);
}
.grid .col-10o11 {
  width: calc(90.90909%  - 10px);
}

@media only screen and (max-width: 767px) {
  .grid .col-s-3 {
    width: calc(33.33333%  - 30px);
    margin-left: 15px;
    margin-right: 15px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .grid .col-m-5 {
    width: calc(20%  - 20px);
    margin-left: 10px;
    margin-right: 10px;
  }
  .grid .col-m-7 {
    width: calc(14.28571%  - 20px);
    margin-left: 10px;
    margin-right: 10px;
  }

  .grid .col-m-2o5 {
    width: calc(40%  - 10px);
  }
  .grid .col-m-3o5 {
    width: calc(60%  - 10px);
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1199px) {
  .grid .col-l-1 {
    width: calc(100%  - 10px);
    margin-left: 5px;
    margin-right: 5px;
  }
  .grid .col-l-3 {
    width: calc(33.33333%  - 10px);
    margin-left: 5px;
    margin-right: 5px;
  }
  .grid .col-l-4 {
    width: calc(25%  - 10px);
    margin-left: 5px;
    margin-right: 5px;
  }

  .grid .col-l-1o4 {
    width: calc(25%  - 10px);
  }
  .grid .col-l-3o4 {
    width: calc(75%  - 10px);
  }
}
@media only screen and (min-width: 1200px) {
  .grid .col-xl-9 {
    width: calc(11.11111%  - 10px);
    margin-left: 5px;
    margin-right: 5px;
  }
}
