/**
 * grid.scss
 *
 *
 * @author Mihnea Belcin
 */

/*------------------------------------*\
    GRID SYSTEM
\*------------------------------------*/

@mixin responsiveGrid($type, $config, $gutter) {
    $columnCount: map-get($config, 'columnCount');
    $columnDistribution: map-get($config, 'columnDistribution');

    @include responsive($type) {

      @if map-has-key($config, 'columnCount') {
        .grid {
          $columnArray: map-get($config, 'columnCount');
          $rGutter: map-get($config, 'gutter');
          
          @if $rGutter == null {
            $rGutter: $gutter;
          }

          @each $column in $columnArray {
            $columnCount: nth($columnArray, index($columnArray, $column));

            .col-#{$type}-#{$columnCount} {
              color: $rGutter;
              width: calc(#{columnWidth($column)}  - #{$gutter});
            }
          }
        }
      }

      @if map-has-key($config, 'columnVariations') {
        .grid {
          $columnVariations: map-get($config, 'columnVariations');
          @each $column in $columnVariations {
            $variation: nth($columnVariations, index($columnVariations, $column));
            $variation: numbers($variation);
            $columnCount: nth($variation, 1);
            $gridCount: nth($variation, 2);

            .col-#{$type}-#{$columnCount}o#{$gridCount} {
              width: calc(#{columnWidth($columnCount, $gridCount)}  - #{$gutter});
            }
          }
        }
      }
    }
}


$gridInit: 0;
$gridGutter: false;
$gutter: 0;
@mixin generateGrid($config) {
  @if $gridInit == 0 {
    $gridInit: 1 !global;
    $gutter: 0;

    @if map-has-key($config, 'gutter') {
      $gutter: map-get($config, 'gutter') !global;
      $gridGutter: true !global;
    }

    .grid {
      width: inherit;
      @if $gridGutter == true {
        // width: calc(100% + #{map-get($config, 'gutter')});
        // margin-left: -1 *  map-get($config, 'gutter') / 2;
        padding-left: map-get($config, 'gutter') / 2;
        padding-right: map-get($config, 'gutter') / 2;
      }
    }
      .grid [class*='col-'] {
        float: left;
        
        @if $gridGutter == true {
          margin-left: map-get($config, 'gutter') / 2;
          margin-right: map-get($config, 'gutter') / 2;
        }
      }
  }

  // EQUAL COLUMNS
  @if map-has-key($config, 'columnCount') {
    .grid {
      $columnArray: map-get($config, 'columnCount');
      @each $column in $columnArray {
        $columnCount: nth($columnArray, index($columnArray, $column));

        .col-#{$column} {
          width: calc(#{columnWidth($column)}  - #{$gutter});
        }
      }
    }
  }


  // DISTRIBUTED COLUMNS
  @if map-has-key($config, 'columnVariations') {
    .grid {
      $columnVariations: map-get($config, 'columnVariations');
      @each $column in $columnVariations {
        $variation: nth($columnVariations, index($columnVariations, $column));
        $variation: numbers($variation);
        $columnCount: nth($variation, 1);
        $gridCount: nth($variation, 2);

        .col-#{$columnCount}o#{$gridCount} {
          width: calc(#{columnWidth($columnCount, $gridCount)}  - #{$gutter});
        }
      }
    }
  }


  // RESPONSIVE 
  $responsiveBreakpoints: (
    s:  true,
    m:  true,
    l: true,
    xl: true
  );
  @each $type in map-keys($config) {
    @if map-has-key($responsiveBreakpoints, $type) {
      @include responsiveGrid($type, map-get($config, $type), $gutter);
    }
    
  }
}


@function columnWidth($count, $total: 1) {
  @if $total == 1 {
    @return (100% / $count);  
  } @else {
    @return (number($count) / number($total) * 100%);
  }
  
}

@function number($string) {
  $strings: "0" "1" "2" "3" "4" "5" "6" "7" "8" "9" "10" "11" "12" "13" "14" "15" "16";
  $numbers:  0   1   2   3   4   5   6   7   8   9   10   11   12   13   14   15   16;
  $result: 0;

  @for $i from 1 through 12 {
    @if $string == nth($strings, $i) {
      $result: nth($numbers, $i);
    }
  }

  @return $result;
}


@function numbers($string) {
  $splitPosition: str-index($string, "o");
  $stringLength: str-length($string);
  $firstNumber: 0;
  $secondNumber: 0;

  @if $splitPosition == 2 {
    $firstNumber: str-slice($string, 0,1);
    $secondNumber: str-slice($string, 3,4);
  }

  @if $splitPosition == 3 {
    @if $stringLength == 4 {
      $firstNumber: str-slice($string, 0,2);
      $secondNumber: str-slice($string, 4,5);
    } @else {
      $firstNumber: str-slice($string, 0,2);
      $secondNumber: str-slice($string, 4,6);
    }
    
  }

  $numbers: $firstNumber $secondNumber;
  @return $numbers;
}