/**
 * mixins.scss
 *
 *
 * @author Mihnea Belcin
 */

/*------------------------------------*\
    RESPONSIVE MIXINS
\*------------------------------------*/

@mixin fromWidth($width) {
	@media only screen and (min-width: $width) { @content; }
}

@mixin toWidth($width) {
    @media only screen and (max-width: $width) { @content; }
}

@mixin betweenWidth($minWidth, $maxWidth) {
    @media only screen and (min-width: $minWidth) and (max-width: $maxWidth) { @content; }
}

@mixin responsive($type) {
	@if $type == 's' {
		@include small {
			@content;
		}
	}

	@if $type == 'm' {
		@include medium {
			@content;
		}
	}

	@if $type == 'l' {
		@include large {
			@content;
		}
	}

	@if $type == 'xl' {
		@include huge {
			@content;
		}
	}
}

@mixin small {
    @include toWidth($mediumWidth - 1px) { @content; };
}

@mixin medium {
    @include betweenWidth($mediumWidth, $largeWidth - 1px) { @content; };
}

@mixin large {
    @include betweenWidth($largeWidth, $hugeWidth) { @content; };
}

@mixin huge {
    @include fromWidth($hugeWidth) { @content; };
}



@mixin forRetina() {
	@media (min--moz-device-pixel-ratio: 1.3),
		   (-o-min-device-pixel-ratio: 2.6/2),
		   (-webkit-min-device-pixel-ratio: 1.3),
		   (min-device-pixel-ratio: 1.3),
		   (min-resolution: 1.3dppx) {
			   	@content;
		   }
}
