/**
 * variables.scss
 *
 *
 * @author Mihnea Belcin
 */

/*------------------------------------*\
    BREAKPOINTS VARIABLES
\*------------------------------------*/

$smallWidth:                   320px  !default;
$mediumWidth:                  768px  !default;
$largeWidth:                   1024px !default;
$hugeWidth:                    1200px !default;
