/**
 * style.scss
 *
 *
 * @author Mihnea Belcin
 */

/*------------------------------------*\
    $TABLE OF CONTENTS
\*------------------------------------*/

@import "reset";
@import "variables";
@import "mixins";
@import "grid";



// DEMO STYLES 

.grid {
	background: #cecece;
	clear: both;

	div {
		padding-top: 250px;
		margin-bottom: 12px;
	}
}

@for $i from 1 through 10 {
	.grid div:nth-child(#{$i}) {
		background: transparentize(#2f2798, $i * 0.1);
	}
}


// EXAMPLE GRIDS

$gridSetup: (
	columnCount: (2 4 7),
	columnVariations: ("2o7" "5o7" "3o4" "1o4"),
	mobile: (
		columnCount: 3
	),
	tablet: (
		columnCount: 5 7 9,
		columnVariations: "2o5" "3o5"
	),
	desktop: (
		columnCount: 3,
		columnVariations: "4o6" "2o6"
	),
);


@include generateGrid($gridSetup);








