/**
 * style.scss
 *
 *
 * @author Mihnea Belcin
 */

/*------------------------------------*\
    $TABLE OF CONTENTS
\*------------------------------------*/

@import "reset";
@import "variables";
@import "mixins";
@import "grid";



// DEMO STYLES 

.wrapper {
	width: 100%;
	overflow: hidden;
}

.grid {
	background: #cecece;
	clear: both;

	overflow: hidden;
	background: pink;
	// margin-bottom: 10px;

	div {
		padding-top: 250px;
		margin-bottom: 10px;
	}
}

@for $i from 1 through 15 {
	.grid div:nth-child(#{$i}) {
		background: transparentize(#2f2798, $i * 0.05);
	}
}


// EXAMPLE GRIDS

$gridSetup: (
	columnCount: 1 2 4 7 9 10 11,
	columnVariations: "2o7" "5o7" "3o4" "1o4" "5o11" "6o11" "7o11" "8o11" "10o11",
	gutter: 10px,
	s: (
		columnCount: 3,
		gutter: 30px
	),
	m: (
		columnCount: 5 7,
		columnVariations: "2o5" "3o5",
		gutter: 20px
	),
	l: (
		columnCount: 1 3 4,
		columnVariations: "1o4" "3o4"
	),
	xl: (
		columnCount: 9
	)
);

@include generateGrid($gridSetup);








